.wrap {
display: grid;
gap: 20px;
grid-template-columns: repeat(2, 1fr);
    margin-bottom: 92px;
}
.info{
    display: grid;
max-width: 545px;
    grid-template-rows: 1fr auto;



}


.doubleTitle {
    margin-top: 80px;
}

.descriprion {
    margin-top: 20px;
    margin-bottom: 0;

    font-weight: 400;
    font-size: 20px;
    line-height: 28px;
    letter-spacing: -0.014em;

    color: #00071F;
}
.statistics {
    display: flex;
    justify-content: left;
    margin-top:64px;
    gap: 56px;
}
.mark {
    justify-content: left;
    gap: 10px;
}