.wrap {
    font-weight: 700;
    font-size: 72px;
    line-height: 78px;
    letter-spacing: -0.02em;
    color: #00071F;

}
@media screen and (max-width: 425px) {
    .wrap {
        font-weight: 700;
        font-size: 48px;
        line-height: 54px;
        letter-spacing: -0.02em;
    }
}