.wrap {
    color: #00071F;
    max-width: 1057px;

    display: flex;
    flex-direction: column;
    gap: 64px;


}

.column1 {
    display: flex;
    justify-content: center;
    gap: 64px;
    align-items: center;

}

.column2 {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    justify-content: center;


    justify-items: center;


}
