.wrap {
    position: relative; /* Позиционируем спиннер */

    top: 35%;


}
.spiner{
    animation: spin 10s linear 0s infinite;
    animation-duration: 10s;
    animation-timing-function: linear;
    animation-delay: 0s;
    animation-iteration-count: infinite;
    animation-direction: normal;
    animation-fill-mode: none;
    animation-play-state: running;
    animation-name: spin;
    animation-timeline: auto;
    animation-range-start: normal;
    animation-range-end: normal

}
@keyframes spin {
    from {
        transform: rotate(0deg);
    }
    to {
        transform: rotate(360deg);
    }


}
.arrow{
    position: absolute;
    transform: translateX(0px) translateY(-136px) ;
}

@media screen and (max-width: 425px) {
    .spiner{
        width: 100px;
        height: 100px;
    }
    .arrow{
        transform: translateX(-17px) translateY(-122px) ;
    }
}
