.wrap{
    display: flex;
    justify-content: space-between;

}
.text{
    padding-top: 72px;
}
.images{
    width: 566px;
}
.check{
    position: absolute;
    transform: translateY(-10px)translateX(1115px) rotate(-10deg);
    width: 48px;
    height: 48px;
}
.home{
    position: absolute;
    width: 110px;
    height: 110px;
    transform: translateY(-80px)translateX(210px) rotate(4deg);
}
.moeda{

        position: absolute;
        width: 80px;
        height:80px;
        transform: translateY(400px)translateX(490px) rotate(-4deg);

}
.blueBall{
    position: absolute;
    width: 20px;
    height:20px;
    transform: translateY(100px)translateX(-80px) rotate(-4deg);

}
.orangeBall{
    position: absolute;
    width: 40px;
    height:40px;
    transform: translateY(550px)translateX(50px) rotate(-4deg);

}

@media screen and (max-width: 1200px) {



}
@media screen and (max-width: 425px) {
    .wrap {
        flex-direction: column;
        justify-content: center;

    }
    .text{
        padding-top: 0px;
    }
    .images{
        width: 300px;


    }
    .home{
        position: absolute;
        width: 90px;
        height: 90px;
        transform: translateY(-400px)translateX(240px) rotate(10deg);
    }
    .blueBall{
        position: absolute;
        width: 20px;
        height:20px;
        transform: translateY(-400px)translateX(5px) rotate(-4deg);

    }
    .moeda{
        position: absolute;
        width: 60px;
        height:60px;
        transform: translateY(-120px)translateX(330px) rotate(-4deg);

    }
    .orangeBall{
        position: absolute;
        width: 20px;
        height:20px;
        transform: translateY(-20px)translateX(20px) rotate(-4deg);

    }
    .check{
       display: none;
    }
    .spin{
       height: 70px;
        transform: translateY(140px)translateX(-20px);

    }
}
@media screen and (max-width: 375px) {

    .images{
        width: 285px;

}}