.wrap {
    display: grid;
    grid-template-columns: auto 1fr repeat(2,auto);
    grid-template-rows: 1fr;
    grid-column-gap: 32px;
    grid-row-gap: 0px;
    justify-content: space-between;
    align-items: center;

}
.navbar {
    grid-area: 1/1/5/5;
    justify-self: center;
}
.logo {
    grid-area: 1/1/2/2;
}
.buttonCall {
    grid-area: 1/4/2/5;
}
.social {
    grid-area: 1/3/2/4;
}