.wrap {
    display: grid;
    grid-template-columns: auto 1fr repeat(2,auto);
    grid-template-rows: 1fr;
    grid-column-gap: 32px;
    grid-template-areas: "logo navbar social buttonCall";
    grid-row-gap: 0;
    justify-content: space-between;
    align-items: center;
    min-height: 78px;


}
.navbar {
    grid-area: navbar;
    justify-self: center;
}
.logo {
    grid-area: logo;
}
.buttonCall {
    grid-area: buttonCall;
}
.social {
    grid-area: social;
}
.burger{
    grid-area: burger;
    display: none;
}
.otherPage{
    grid-template-areas: "logo navbar";
    grid-template-columns: 1fr auto;

}
.headingForm{
    margin-bottom: 20px;
    text-align: center;
}
.form{
flex-direction: column;
    align-items: center;
    max-width: 420px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 9999;
}
@media screen and (max-width: 1024px) {
    .wrap {

        grid-column-gap: 32px;
        grid-template-areas: "logo social buttonCall burger";
grid-template-columns: 1fr repeat(3,auto);

    }
    .burger {
        display: block;
    }
    .otherPage{
        grid-template-areas: "logo burger";
        grid-template-columns: 1fr auto;
    }
}


