.wrap {
    display: grid;

    justify-content: center;

margin: 132px 0 92px 0px;


}
.banks {




}
.title {
    justify-self: center;
    padding-bottom: 32px;
}
@media (max-width: 425px) {
    .wrap {
        margin: 80px 0 40px 0px;
    }
}
