.wrap{
    display: flex;
align-items: center;
    gap: 10px;
}

.link{
    text-decoration: none;
margin-right: 6px;
    font-weight: 400;
    font-size: 18px;
    line-height: 26px;
    letter-spacing: -0.012em;

    color: #666A79;


}
.item{
    display: flex;
    align-items: center;
}