.wrap{
    display: flex;
    flex-direction: column;
    gap: 6px;
}
.title {

    font-weight: 700;
    font-size: 30px;
    line-height: 36px;
    letter-spacing: -0.018em;

    color: #00071F;



}

.subtitle {

    font-weight: 400;
    font-size: 18px;
    line-height: 26px;
    letter-spacing: -0.012em;

    color: #666A79;


}
