
.logo{

}

.logo a:hover {
    fill:#33394C ;
}
.contentGrid {

display: grid;
    grid-template-columns: 1fr repeat(3, auto);
gap: 80px;
padding-bottom: 40px;



}

.brandSection {
width: 260px;
}



.subtitle {
    margin-top: 10px;
    font-weight: 400;
    font-size: 18px;
    line-height: 26px;
    letter-spacing: -0.012em;

    color: #666A79;

}

.socialIcons {
    display: flex;

    gap: 16px;
    padding-top: 32px;

}

.socialIcons a:hover {
    fill: #33394C;
}



.sectionTitle {

    font-weight: 700;
    font-size: 20px;
    line-height: 28px;
    letter-spacing: -0.014em;

    color: #00071F;

padding-bottom: 12px;
    justify-content: end;

}

.item {
    display: block;
    text-decoration: none;
    font-weight: 400;
    font-size: 18px;
    line-height: 26px;
    letter-spacing: -0.012em;

    color: #666A79;


    margin: 0.4rem 0;
}
.item:hover{
    color: #8C8F9A;
}

.section{
    max-width: 130px;
gap: 80px;
    padding-right: 60px;
}
.organizationalInfo{
    display: grid;
    grid-template-columns: 1fr auto auto;
 gap: 20px;
    padding-top: 40px;
    border-top: 1px solid #D4D5D9;
    align-items: center;


    font-weight: 400;
    font-size: 18px;
    line-height: 26px;

    letter-spacing: -0.012em;




}
.detail{
    color: #666A79;
}

