.wrap{

    display: grid;
    align-items: center;

}
.discount {
    font-weight: 700;
    font-size: 30px;
    line-height: 36px;
    letter-spacing: -0.018em;

    color: #00071F;

}
.base{
    font-weight: 500;
    font-size: 24px;
    line-height: 36px;
    letter-spacing: -0.018em;
    text-decoration-line: line-through;

    color: #666A79;

}
.percentage{

    font-weight: 600;
    font-size: 24px;
    line-height: 32px;
    letter-spacing: -0.016em;

    background:  linear-gradient(265.89deg, #F9B12C 0.13%, #F20438 83.63%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    background-clip: text;
    text-fill-color: transparent;

}
.date{

    font-weight: 400;
    font-size: 16px;
    line-height: 24px;
    letter-spacing: -0.01em;

    color: #666A79;


}
