
.container {
    max-width: 1190px;
    margin: 0 auto;
    align-items: center;
    min-height: 78px;
}
.otherPage{
    display: flex;
    align-items: center;


}
.preview{
    margin-top: 92px;
}
.scorecard{
    margin-top: 125px;
}
