
.container {
    max-width: 1190px;
    margin: 0 auto;
    align-items: center;
    min-height: 78px;
}
.otherPage{
    display: flex;
}
.preview{
    margin-top: 92px;
}
.scorecard{
    margin-top: 125px;
    margin-bottom: 92px;
}
.centered{
    display: flex;
    justify-content: center;
    margin-top: 92px;
}
.listCard{
    margin-top: 92px;
}