body {
  margin: 0;

}
* {
  font-family: 'Inter', serif;
  color: #00071F;
  font-style: normal;

}
.container {
  max-width: 1440px;
  margin: 0 auto;
padding: 0 125px;
}
@media screen and (max-width: 1024px) {
  .container {
    padding: 0 64px;
  }
}
@media screen and (max-width: 425px) {
  .container {
    padding: 0 20px;
  }
}
