.wrap {
    display: flex;
    gap: 32px;
    font-weight: 600;
    font-size: 20px;
    line-height: 28px;
    letter-spacing: -0.014em;

    color: #00071F;
}
.wrap > a:hover{
    color:#404557;
    cursor: pointer;
}
.wrap > a{
    text-decoration: none;
}
@media screen and (max-width: 1024px) {
    .wrap {
        display: none;
    }
}